# -*- sh -*-

# Pinned version of nixpkgs:
NIXPKGS_COMMIT=8130f3c1c2bb0e533b5e150c39911d6e61dcecc2
export NIX_PATH=nixpkgs=https://github.com/nixos/nixpkgs/archive/${NIXPKGS_COMMIT}.tar.gz

# Load in the shell.nix file:
use nix

# Reload if these files changes:
watch_file openid-connect.cabal default.nix
